body {
    background-color: white;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 70%;
    margin: auto;
    display: flex;
    margin-top: 40px;
    min-height: 80%;
    border-radius: 20px;
    border: 5px solid #987eff;
}

.left {
    width: 25%;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 100px;
    padding-left: 50px;
    font-size: 22px;

}

ul {
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.projects {
    font-family: 'Quicksand', sans-serif;
    font-size: 22px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.projects-sign{
    display: flex;
    align-items: center;
    gap: 20px;
    height: 30px;
}

li {
    margin: 5px 0;
    transition: background-color 0.3s, color 0.3s;
    height: 30px;
}

li:hover {
    color: #987eff;
    cursor: pointer;
    font-size: 25px;
}

.right {
    flex-grow: 1;
    background-color: #a18aff;
    border-top-right-radius: 13px;
    border-bottom-right-radius: 13px;
    display: flex;
    flex-direction: column;
}

.top {
    display: flex;
    flex: 1;
}

.title {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 38px;
    flex: 12;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom {
    display: flex;
    flex: 10;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.name-sign {
    display: flex;
    font-family: 'Quicksand', sans-serif;
    margin-top: 10px;
    width: 80%;
    gap: 20px;
    align-items: center;
    font-size: 22px;
    height: 30px;
}

.sign img {
    height: 25px;
    width: 25px;
    padding-top: 3px;
}

.sign img:hover {
    height: 28px;
    width: 28px;
}

.slide {
    transform: translateX(-210px);
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 100%;
    display: none;
    position: absolute;
    width: 200px;
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
}

input {
    display: none;
    -webkit-appearance: none;
}

.toggle {
    position: absolute;
    height: 30px;
    width: 30px;
    top: 5px;
    display: none;
    left: 25px;
    z-index: 1;
    cursor: pointer;
    background-color: white;
    border-radius: 2px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.toggle .common {
    position: absolute;
    height: 2px;
    width: 20px;
    background-color: #987eff;
    border-radius: 50px;
    transition: 0.3s ease;
}

.toggle .top_line {
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.toggle .middle_line {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.toggle .bottom_line {
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input:checked~.toggle .top_line {
    left: 2px;
    top: 14px;
    width: 25px;
    transform: rotate(45deg);
}

input:checked~.toggle .bottom_line {
    left: 2px;
    top: 14px;
    width: 25px;
    transform: rotate(-45deg);
}

input:checked~.toggle .middle_line {
    opacity: 0;
    transform: translate(20px)
}

input:checked~.slide {
    transform: translateX(0);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    opacity: 1;
}

.todoContainer {
    background-color: white;
    border-radius: 25px;
    width: 80%;
    min-height: 40px;
    display: flex;
    align-items: center;
    font-family: 'Quicksand', sans-serif;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: space-between;
}

.leftSide {
    display: flex;
    align-items: center;
}

.rightSide {
    display: flex;
    gap: 10px;
    align-items: center;
}

.priority {
    border-radius: 50px;
    background-color: green;
    height: 18px;
    width: 18px;
}

.containerCheck {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 25px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.containerCheck input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 3px;
    left: 5px;
    height: 15px;
    width: 15px;
    background-color: #eee;
    border-radius: 30px;
    background-color: white;
    border: solid 2px darkgray;
}

.containerCheck:hover input~.checkmark {
    background-color: #ccc;
}

.containerCheck input:checked~.checkmark {
    background-color: darkgray;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.sold-out {
    text-decoration: line-through;
}

/* Tablet design */
@media (max-width: 1280px) {
    .container {
        max-width: 100%;
        display: flex;
        min-height: 100%;
        margin: 0px;
        border-radius: 20px;
        border: 5px solid #987eff;
        border-radius: 0px;
    }

    .right {
        border-top-right-radius: 0%;
        border-bottom-right-radius: 0px;
    }

    nav {
        padding-left: 40px;
    }
}

/* Mobile design */
@media (max-width: 767px) {

    ul {
        font-size: 18px;
    }

    .projects {
        font-size: 18px;
    }

    li:hover {
        font-size: 20px;
    }

    .left {
        display: none;
        opacity: 0;
    }

    .slide {
        display: block;
    }

    .title {
        font-size: 25px
    }

    .toggle {
        display: block;
    }

    .title {
        justify-content: end;
        align-items: start;
        padding-right: 20px;
    }

    .todoContainer {
        width: 95%;
        font-size: 15px;
    }

    .name-sign {
        font-size: 20px;
        width: 95%;
    }
}

html {
    visibility: visible;
    opacity: 1;
}